extends layout
block title
    title Admin Console - BPHC Course Reviews
block content
    h1 Admin Console
    details
        summary Create Course
        form(action="/admin/createCourse" method="POST")
            fieldset
                label Com Code
                    input.inp(name="com_code" placeholder="1001" required type="number")
                label Course Code
                    input.inp(name="course_code" placeholder="BIO F324" required)
                label Course Name
                    input.inp(name="course_name" placeholder="Engineering Graphics" required)
                label Instructors
                    input.inp(name="instructors" placeholder="John Doe, Bob Sharma, Jane Singh" required)

                input.btn(type="submit" value="Create course")

    hr

    details
        summary Delete Course
        form(action="/admin/deleteCourse" method="POST")
            fieldset
                label Course Code
                    input.inp(name="course_code" placeholder="BIO F324" required)

                input.btn(type="submit" value="Delete course")

    hr

    details
        summary Ban User
        form(action="/admin/banUser" method="POST")
            fieldset
                label Email
                    input.inp(name="email"  required)

                input.btn(type="submit" value="Ban User")

    hr

    details
        summary Un-ban User
        form(action="/admin/unBanUser" method="POST")
            fieldset
                label Email
                    input.inp(name="email"  required)

                input.btn(type="submit" value="Un-ban User")

    hr

    h2 SQL Shell

    textarea(name="statement" placeholder="SELECT * FROM feedbacks;" id="statement").sqlShell
    h4 Results:
    pre.sqlResults#sqlResults No results yet
    hr
    button.btn(onclick="runSql(true)") Execute
    hr
    b Note:
    span If you have multiple statements, no results will be displayed, but all statements will execute. To show results, run one statement at a time.

    script(src="/javascripts/sqlRunner.js") 
