extends layout
block title
    title Search for courses - BPHC Course Reviews"
block content
  script(src="javascripts/generated-courses-list.js")
  div.search-bar
    input.course-search(type="search" placeholder="eg. HSS F222 LINGUISTICS" autofocus)#course-search
    button(onclick="doSearch()")
      img(src="/search.png", alt="mag glass")
  hr
  div#results
  div
    #notFound.hidden
      b No matching courses found.
      p If you wish for a course to be added, please contact the site administrator by clicking the link in the footer below.
  script(src="javascripts/course-search.js") 
