extends layout

block content
  .text-center
    img(src="/school.png", alt="School icon").main-icon
    h1.title BPHC course reviews
    h3 Use this website to find and share course reviews. Upload handouts, and help the community by upvoting authentic reviews.
    br
    a.btn.bg.main-button(href="/courses") Search courses
  hr
  h3 Features
  ul
    li Search by course name, teacher, code.
    li Upvote and downvote reviews.
    li Add links to handouts, and other useful material.
    li Write your own course review.
    li Share the link to the review or the course page.
