doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  block title
    title BPHC Course Reviews
  link(rel='stylesheet' href='/stylesheets/main.css')
.main.container
  include nav.pug
  block content
  hr
  small
    a.btn(href="/courses/reviews/list") Recent Reviews
    a.btn(href="/stats") Statistics
  br
  br
  small
    a(href="https://www.gnu.org/licenses/agpl-3.0.en.html")
      img(src="/agpl3.png" alt="AGPL 3.0").middle
    span &nbsp; 
    a(href="https://crux-bphc.github.io/")
      img(src="/crux.png" alt="CRUx BPHC").middle
    span &nbsp; A CRUx BPHC Project, developed by Divyanshu Agrawal. Powered by SQLite. 
    a(href="mailto:crux@hyderabad.bits-pilani.ac.in") Contact site administrator
    span &nbsp; 
    a(href="/policy") Legal
    span &nbsp; 
    a(href="https://github.com/crux-bphc/course-reviews/" target="_blank") Source Code
