extends layout
include ./mixins.pug
block title
    title="Login Failed - BPHC Course Reviews" 
block content
    h1 Could not log you in.
    p This can be because:
        ul
            li Your account has been banned.
            li You are not a student.
            li You are not using BITSMail.
    
    p If you think this is an error, contact the site administrator.
