nav
    h3 BPHC Course Reviews
        if user
            small.username.float-right=user.name
    a(href="/") Home
    a(href="/courses") Courses
    if !user
        a.float-right(href="/auth/google") Login
    if user
        a.float-right(href="/auth/google/logout") Logout
    if user && user.admin
        a.float-right(href="/admin") Admin
    .clearfix
     