extends layout
block title
    title Usage Policy - BPHC Course Reviews
block content
    h1 Usage Policy
    ol 
        li Content is provided as is, without any warranties and liabilities.
        li Content posted by the users are their own responsibility. CRUx or website developers are not responsible.
        li Respect copyright laws. Don't share copyrighted material.
        li Don't post profanities and other abusive content.
        li Do not try to abuse the software.
        li Be kind and respectful to everyone.
        li To request content removal, contact the site administrator.